<section id="hero">
  <div class="flex-element" id="frontpage-wrapper">
    <div id='hero-wrapper'>
      <div id="name" style="font-size: 60px; font-weight: 700;">
        Paul Richter
      </div>
      <div id='socials-wrapper'>
        <a target="_blank" href="https://www.linkedin.com/in/paul-richter-4b432a22a/">
          <i style="font-size: 25px;" class="fa-brands fa-linkedin-in"></i>
        </a>
        <a target="_blank" href="https://www.xing.com/profile/Paul_Mueller949/cv">
          <i class="fa-brands fa-xing"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/paul_richter99/">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a target="_blank" href="https://www.github.com/paulrichter99">
          <i class="fa-brands fa-github"></i>
        </a>
      </div>
    </div>
  </div>
</section>
