@import "/src/app/shared/variables.scss";

#about{
  background: linear-gradient(129deg,
    rgba(203,184,165,1) 0%,
    rgba(232,220,208,1) 30%,
    rgba(232,220,208,1) 50%,
    rgba(232,220,208,1) 70%,
    rgba(194,177,159,1) 100%
  );
  background: $base-color-bg;
  color: $base-color;
  height: max-content;
}

b {
  font-weight: 500;
}

#about-me-wrapper{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: 18px;
  min-height: calc(100vh - 60px);
  padding-top: 60px;
  width: 80%;
  margin: 0 auto;
}

#about-header-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#about-header-wrapper > #upper-layer-header {
  font-weight: 700;
  font-size: 38px;
  margin-top: -45px;
  z-index: 1;
  color: $base-color;
}

#about-header-wrapper > #lower-layer-header {
  font-weight: 700;
  font-size: 58px;
  opacity: 0.2;
  color: $base-color;
}

#about-body-wrapper{
  margin-top: 50px;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

/* On < 1750px we should realign about me under the image and skills section */

#about-left-side-wrapper{
  min-width: 700px;
  height: min-content;
  align-self: center;
  margin-top: 10px;

  img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
  }

  > .justify-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }
}

#about-right-side-wrapper{
  > div{
    margin-bottom: 8px;
    font-family: 'brotherton', sans-serif;
    font-size: 40px;
    color: $base-color;
    font-weight: 500;
  }
}

#about-detail-table{
  margin-left: 40px;
  tr {
    margin: 5px 0;
  }

  td{
    padding-right: 20px;
  }
}

@media (max-width: 1200px){
  #about-body-wrapper{
    flex-direction: column;
  }

}

/* TODO: row view for profile picture, side by side when about-right side goes down */
@media (min-width: 1200px){
  #about-right-side-wrapper{
    padding: 20px;
    padding-right: 0;
    border-left: 2px solid rgb(143, 143, 143);
  }
}


#skills-list-wrapper {
  width: 100%;
  margin-top: 40px;
  margin-left: 10px;
}
