<section id="about">
  <div class="flex-element">
    <div id='about-me-wrapper'>
      <div id='about-header-wrapper'>
        <div id='lower-layer-header'> ABOUT ME </div>
        <div id='upper-layer-header'> ABOUT ME </div>
      </div>
      <div id='about-body-wrapper'>
        <div id='about-left-side-wrapper'>
          <div class='justify-content-wrapper'>
            <img src="/assets/gfx/img_me.jpg">
            <div id='about-info-wrapper'>
              <table id='about-detail-table'>
                <tr>
                  <td> <b> Name: </b> </td>
                  <td> {{myPerson.firstName}} {{myPerson.lastName}}</td>
                </tr>
                <tr>
                  <td> <b> Birthday: </b> </td>
                  <td> {{myPerson.birthDate}}</td>
                </tr>
                <tr>
                  <td> <b> Age: </b> </td>
                  <td>  {{age}}</td>
                </tr>
                <tr>
                  <td> <b> Profession: </b> </td>
                  <td> {{myPerson.profession}}</td>
                </tr>
                <tr>
                  <td> <b> City: </b> </td>
                  <td>{{myPerson.city}}</td>
                </tr>
                <tr>
                  <td> <b> Email: </b> </td>
                  <td>{{myPerson.email}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div id='about-right-side-wrapper'>
          <div style="margin-bottom: 8px; font-family: brotherton; font-size: 40px; color: rgb(63, 63, 63); font-weight: 500;"> Hi, I am Paul </div>
          Learning my first language at the age of 12, coding should become my passion. <br>
          It all started with a small robotics project written in C - nothing really special, but the reason for
          my affection for coding and software development. <br> <br>

          When I am not working on any projects I love to play football, go for a walk or learn about all sort of things. <br> <br>

          Since October 2017 I am studying Computer Science at the Friedrich Schiller University in Jena -
          the city that became my new home when I began my studies.
        </div>

      </div>

      <div id="skills-list-wrapper">
        <div>
          <div style="text-align: center; margin-bottom: 8px; font-family: brotherton; font-size: 30px; color: rgb(63, 63, 63); font-weight: 500;"> <b> SKILLS </b> </div>
          <div class='slider'>

            <div class='slider-element'>
              <div id='slider-java'>
                Java is my home - 100%
              </div>
            </div>

            <div class='slider-element'>
              <div id='slider-java'>
                Java is my home - 100%
              </div>
            </div>

            <div class='slider-element'>
              <div id='slider-java'>
                Java is my home - 100%
              </div>
            </div>

            <div class='slider-element'>
              <div id='slider-java'>
                Java is my home - 100%
              </div>
            </div>

            <div class='slider-element'>
              <div id='slider-java'>
                Java is my home - 100%
              </div>
            </div>

            <div class='slider-element'>
              <div id='slider-java'>
                Java is my home - 100%
              </div>
            </div>

            <div class='slider-element'>
              <div id='slider-java'>
                Java is my home - 100%
              </div>
            </div>

            <div class='slider-element'>
              <div id='slider-java'>
                Java is my home - 100%
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
