<section id="about">
  <div class="flex-element">
    <div id='about-me-wrapper'>
      <!-- INFO: Not sure If I want to use this, since we have a header that shows where we are -->
      <div id='about-header-wrapper'>
        <div id='lower-layer-header'> ABOUT ME </div>
        <div id='upper-layer-header'> ABOUT ME </div>
      </div>
      <div id='about-body-wrapper'>
        <div id='about-left-side-wrapper'>
          <div class='justify-content-wrapper'>
            <img src="/assets/gfx/img_me_2.png">
            <div id='about-info-wrapper'>
              <table id='about-detail-table'>
                <tr>
                  <td> <b> Name: </b> </td>
                  <td> {{myPerson.firstName}} {{myPerson.lastName}}</td>
                </tr>
                <tr>
                  <td> <b> Geburtstag: </b> </td>
                  <td> {{myPerson.birthDate}}</td>
                </tr>
                <tr>
                  <td> <b> Alter: </b> </td>
                  <td>  {{age}}</td>
                </tr>
                <tr>
                  <td> <b> Beruf: </b> </td>
                  <td> {{myPerson.profession}}</td>
                </tr>
                <tr>
                  <td> <b> Stadt: </b> </td>
                  <td>{{myPerson.city}}</td>
                </tr>
                <tr>
                  <td> <b> Email: </b> </td>
                  <td>{{myPerson.email}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div id='about-right-side-wrapper'>
          <div> Hi! <span style="font-size: 26px;">Ich bin Paul</span> </div>
          <!--Learning my first language at the age of 12, coding should become my passion. <br>
          It all started with a small robotics project written in C - nothing really special, but the reason for
          my affection for coding and software development. <br> <br>

          When I am not working on any projects I love to play football, go for a walk or learn about all sort of things. <br> <br>

          Since October 2017 I am studying Computer Science at the Friedrich Schiller University in Jena -
          the city that became my new home when I began my studies.-->
          Als ich mit 12 das erste mal mit Programmieren zu tun bekam, war schnell klar, dass Entwickeln
          fortan zu meiner Leidenschaft werden soll. <br> <br>

          Wenn ich nicht gerade Programmiere spiele ich gerne Fußball, gehe Spazieren oder bilde mich in allen möglichen Bereichen weiter. <br> <br>

          Seit Oktober 2017 studiere ich Informatik an der Friedrich-Schiller-Universität in Jena.
        </div>
      </div>

      <div id="skills-list-wrapper">
        <div>
          <!--<div style="text-align: center; margin-bottom: 8px; font-family: brotherton; font-size: 30px; color: rgb(63, 63, 63); font-weight: 500;"> <b> SKILLS </b> </div> -->
          <app-slider [slides]="slides"></app-slider>
        </div>
      </div>
    </div>
  </div>
</section>
