@import "/src/app/shared/variables.scss";

#about{
  background: $base-color-bg;
  color: $base-color;
  height: max-content;
  padding-bottom: 60px;
}

b {
  font-weight: 500;
}

#about-me-wrapper{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: 18px;
  min-height: calc(100vh - 60px);
  padding-top: 60px;
  width: 1300px;
  margin: 0 auto;
  max-width: 80%;
}

#about-header-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#about-header-wrapper > #upper-layer-header {
  font-weight: 700;
  font-size: 38px;
  margin-top: -45px;
  z-index: 1;
  color: $base-color;
}

#about-header-wrapper > #lower-layer-header {
  font-weight: 700;
  font-size: 58px;
  opacity: 0.2;
  color: $base-color;
}

#about-body-wrapper{
  margin-top: 20px;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 20px 50px;

  background-color: $base-color-bg-secondary;
  box-shadow: 0px 2px 10px 0px rgba($base-color, 0.2);
  border-radius: 3rem;
  border: 2px solid rgba($base-color-border, 0.4);
}

/* On < 1750px we should realign about me under the image and skills section */

#about-left-side-wrapper{
  min-width: 650px;
  height: min-content;
  align-self: center;
  margin-top: 10px;

  flex: 1;

  img {
    width: 250px;
    height: 250px;
    margin-right: 30px;
    background-color: $about-img-color-bg;
    // box-shadow: $about-img-box-shadow;
    border-radius: 50%;
    padding: 8px;
    margin-left: 10px;
  }

  > .justify-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: right;
  }
}

#about-right-side-wrapper{
  > div{
    margin-bottom: 8px;
    font-family: 'brotherton', sans-serif;
    font-size: 40px;
    color: $base-color;
    font-weight: 500;
  }
  margin-top: 20px;
}

#about-detail-table{
  min-width: max-content;
  tr {
    margin: 5px 0;
  }

  td{
    padding-right: 20px;
  }
}

@media (max-width: 1349px){
  #about-body-wrapper{
    flex-direction: column;
  }
  #about-right-side-wrapper{
    padding-top: 20px;
  }

}

@media (min-width: 1350px){
  #about-right-side-wrapper{
    padding: 10px;
    padding-left: 40px;
    padding-right: 0;
    border-left: 2px solid $base-color;
    margin-top: 0;
  }
}


#skills-list-wrapper {
  width: 100%;
  margin-top: 15px;
}
