@import "/src/app/shared/variables.scss";

button{
  background-color: transparent;
  border: none;
  color: $base-color;
}

.slider{
    width: 100%;
    overflow: hidden;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: $base-color;
    display: flex;
}

.slider-wrapper{
    display: flex;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
    margin-bottom: 10px;
    width: calc(100%);

    transition: 1s ease-in-out;
}

.slider-element-wrapper{
  display: flex;
  justify-content: center;
}
.slider-element{
  padding: 20px 0 40px 0;
  text-align: center;
  height: calc(290px - 60px);
  width: 80%;
  min-width: 320px;
  max-width: 350px;

  background-color: $base-color-bg-secondary;
  box-shadow: $about-box-shadow;
  // border: 2px solid rgba($base-color-border, 0.4);
  border-radius: 12px;
}

.slider-element:hover{
  background-color: $base-color-bg-secondary-hover;
  .slide-header {
    font-size: 24px;
  }
  .slide-description{
    font-weight: 400;
  }
}

.slide-header {
  font-size: 22px;
  width: 30%;
  height: 30px;
  min-width: fit-content;
  padding: 10px 0;
  margin: 0 auto;

  margin-bottom: 15px;
  letter-spacing: 1px;
  font-weight: 700;
  min-width: 60%;

  //border-radius: 1rem;
  //box-shadow: $slider-header-box-shadow;

  font-family: 'Roboto', serif;
}

.slide-description{
  font-size: 18px;
  width: 75%;
  margin: 0 auto;
  margin-top: 0.5em;
  text-align: center;
}

.navigation-bullets-wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 30px;

  .bullet-element-wrapper{
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    // dots
    .navigation-bullet {
      border-radius: 50%;
      border: 1px solid $active-bullet-color;
      width: 14px;
      height: 14px;
      margin: 0 5px;
    }
    // dots hover
    .navigation-bullet:hover {
      border: 2px solid rgba($active-bullet-color,0.1);
      background-color: rgba($active-bullet-color, 0.5);
      width: 15px;
      height: 15px;
    }

    .active-bullet {
      background-color: $active-bullet-color !important;
      border: 2px solid $active-bullet-color !important;
      width: 15px !important;
      height: 15px !important;

      transition: 0.4s;
    }
  }
}

.invisible {
  display: none !important;
}

.circle {
  animation: progress 1s ease-out forwards;
}

.navigation-btn{
  position: relative;
  font-size: 20px;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.percent {
  stroke-dasharray: 100;
}

svg > text {
  font-family: 'Roboto', serif;
  font-size: 45px;
  fill: $base-color;
  letter-spacing: -1px;
}
