<div class='slider' id='slider' #slider>
    <div class='slider-wrapper' id='slider-wrapper'>
        <div class="slider-element" *ngFor="let slide of slides;">
            <h1>  {{slide.headerText}} </h1>
            <div> {{slide.descriptionText}} </div>
            <div> {{slide.imgSymbol}} </div>
        </div>
    </div>
    <br>
    <div class='navigation-bullets-wrapper'>
      <span *ngFor="let ele of slides; let i = index"
            class="navigation-bullet" tabindex="{{i}}" role="button"
            (click)="slideFromIndex(i)">
      </span>
    </div>
</div>
<button (click)="slideRight()"> Slide Right </button>
