$base-height: 100vh;

/* DARK MODE
$base-color: #dfe4ea;
$base-color-bg: #5b6370;
$base-color-bg-secondary: #49505e;
$base-color-bg-tertiary: #586170;

$about-box-shadow: 0px 3px 10px 1px rgba($base-color, 0.2);
$slider-header-box-shadow: 0px 0px 5px 0px rgba($base-color, 0.15);
$base-color-border: #5b6370;

$active-bullet-color: #606157;
*/
 /* LIGHT MODE */
$base-color: #494949;
$base-color-bg: #e2e4d8;
$base-color-bg-secondary: #e5e7d8;
$base-color-bg-secondary-hover: #eaecda;
$base-color-bg-tertiary: #e5e7d8;

$about-img-color-bg: #e9ebdd;
$about-box-shadow: 0px 3px 10px 1px rgba($base-color, 0.2);
$about-img-box-shadow: 0px 0px 8px 0px rgba($base-color, 0.3);

$slider-header-box-shadow: 0px 0px 5px 0px rgba($base-color, 0.15);
$active-bullet-color: #707260;

$base-color-border: #dfe4ea;
