$base-height: 100vh;
$base-color: #dfe4ea;
$base-color-bg: #5b6370;
$base-color-bg-secondary: #49505e;

$about-gradient: linear-gradient(135deg, rgba(100,111,128,1) 0%, rgba(105,116,133,1) 50%, rgba(100,111,128,1) 100%);
