/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "/src/app/shared/variables.scss";

@font-face {
  font-family: 'Brotherton';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/brotherton.ttf') format('truetype');
}

body, html {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e7d8cb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  letter-spacing: 0.5px;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
  width: 0 !important
}

/* Hide scrollbar for IE, Edge and Firefox */
body, html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.slider-fontawesome-icon {
  margin-right: 15px;
  font-size: 38px;
  margin-top: 4px;
}

.slider-smaller-icon{
  font-size: 32px !important;
}

.slider-centered-icon{
  margin-top: 0;
}

.resume-fontawesome-icon{
  font-size: 26px;
  color: $resume-element-bg;
}

.resume-fontawesome-smaller-icon {
  font-size: 24px;
  margin-top: 0px;
}

.resume-fontawesome-larger-icon {
  font-size: 30px;
  margin-top: 0px;
}

.resume-slider-opener{
  color: $base-link-color;
}

.resume-slider-opener:hover{
  font-size: 17px;
}

.slide-title {
  img {
    max-height: 60px;
  }

  .smaller-img{
    max-height: 42px;
    margin-right: 10px;
  }

  .header-img{
    margin-right: 10px;
    margin-top: 5px;
  }

  .bigger-img{
    max-height: 70px;
    margin-right: 20px;
    background-color: rgb(149, 150, 144);
    border-radius: 50%;
  }
}

.slider-detail-text{
  a {
    color: $base-link-color;
    font-weight: 500;
    text-decoration: none;
  }
}


.header-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .upper-layer-header {
    font-weight: 700;
    font-size: 38px;
    margin-top: -43px;
    z-index: 1;
    color: $base-color;
  }

  .lower-layer-header {
    font-weight: 700;
    font-size: 40px;
    opacity: 0.2;
    letter-spacing: 3px;
    color: $base-color;
  }
}
