@import "/src/app/shared/variables.scss";

.box-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Content */
#content{
  width: 100%;
  height: $base-height;
  background-color: rgb(75, 85, 109);
  color: rgb(255, 255, 255);
  font-weight: 100;
  font-size: 18px;
  margin: 0;
  margin-right: -5px;
  padding-right: 5px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-element{
  flex: 1;
}

.flex-child:first-child {
  margin-right: 20px;
}
