<app-header></app-header>

<div class="main-wrapper flex-container box-shadow" id='content'>
  <section id="hero">
    <div class="flex-element" id="frontpage-wrapper">
      <div id='hero-wrapper'>
        <div id="name" style="font-size: 60px; font-weight: 700;">
          Paul Richter
        </div>
        <div id='profession' style="font-weight: 300; font-size: 22px; margin-top: -12px;">
          &nbsp; software development
        </div>
        <div id='socials-wrapper'>
          <a target="_blank" href="https://www.linkedin.com/in/paul-m%C3%BCller-4b432a22a/">
            <i style="font-size: 25px;" class="fa-brands fa-linkedin-in"></i>
          </a>
          <a target="_blank" href="https://www.xing.com/profile/Paul_Mueller949/cv">
            <i class="fa-brands fa-xing"></i>
          </a>
          <a target="_blank" href="https://www.instagram.com/paulmueller99/">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a target="_blank" href="https://www.github.com/Snowisblack">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="flex-element">
      <div id='about-me-wrapper'>
        <h1> ABOUT ME </h1>
        <h3> ABOUT ME </h3>
      </div>
    </div>
  </section>
</div>
