@import "/src/app/shared/variables.scss";

#resume{
  min-height: calc(100vh - 140px);
  width: 100%;
  padding-bottom: 60px;
  background-color: $base-color-bg;
  color: $resume-base-color;

  padding-top: 80px;
}

.resume-wrapper{
  display: flex;
  flex-direction: row;

  justify-content: center;

  max-width: 1350px;
  width: 90%;

  margin: 0 auto;

  margin-top: 0px;

  > div{
    min-height: 800px;
    flex: 0.5;
    max-width: 600px;
  }

  .resume-left-side{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    border-right: 2px solid $base-color-border;
    .resume-element-wrapper{
      .resume-element{
        text-align: right;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        .dot{
          left: calc(100% - 19px);
        }
      }
    }
  }

  .resume-right-side{
    padding-top: 20px;
    display: flex;
    flex-direction: column;

    border-left: 2px solid $base-color-border;
    .resume-element-wrapper{
      .resume-element{
        text-align: left;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        .dot{
          right: calc(100% - 19px);
        }
      }
    }
  }
  .resume-element-wrapper{
    height: 120px;
    display: flex;
    align-items: center;

    .resume-element{
      position: relative;
      max-width: 600px;
      width: fit-content;
      max-height: 80px;
      min-height: 80px;

      padding: 10px 10px 5px 10px;

      box-shadow: $resume-box-shadow;

      background-color: $resume-element-bg;

      .header{
        padding: 0 40px;
        border-bottom: 2px solid $base-color-border;
        font-weight: 700;
        font-size: 17px;
      }

      .dot{
        border-radius: 50%;
        z-index: 100;

        background-color: $base-color-border;
        border: 3px solid $base-color-border;

        position: absolute;
        width: 36px;
        height: 36px;
        top: 13px;
        display: flex;

        align-items: center;
        justify-content: center;
      }

      .body {
        padding: 0 40px;
        font-size: 16px;
      }
    }
  }
}
